.board-header {
    max-width: calc(1440px);
    width: 100%;
    height: 232px;
    padding-inline: 64px;
    //border: 1px solid black;

    .border-header-top {
        position: relative;
        top: 79.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 61px;
            font-weight: 700;
            margin: 0;
        }

        .tools {
            display: flex;
            align-items: center;
            gap: 32px;

            .search {
                background-color: white;
                display: flex;
                align-items: center;
                width: 312px;
                height: 48px;
                border: 1px solid #A8A8A8;
                border-radius: 10px;
                padding: 8px 16px;

                &:focus-within {
                    border: 1px solid #29ABE2;
                }

                input {
                    max-width: 232px;
                    flex: 1;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    border-right: 1px solid #A8A8A8;

                    &::placeholder {
                        color: #D1D1D1;
                    }
                }

                .search-btn {
                    width: 48px;
                    height: 32px;
                    background: transparent;
                    border-radius: 4px;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    padding: 0;

                    .image-box {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .activeOn {
                            display: none;
                        }

                        img {
                            object-fit: contain;
                        }

                        &:hover {
                            background-color: #D1D1D1;
                            border-radius: 16px;
                        }

                        &:active {
                            .activeOn {
                                display: block;
                            }

                            .activeOff {
                                display: none;
                            }

                            ;
                        }
                    }
                }
            }

            .btn-add {
                width: 160px;
                height: 48px;
                padding: 8px 16px;
                font-size: 21px;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #2A3647;
                color: white;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.2s ease;

                img {
                    background-color: transparent;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background-color: #29ABE2;
                    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    .collumn-header {
        position: relative;
        top: calc(200.5px - 79.5px);
        width: 100%;
        height: 24px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .collumn {
            width: 244px;
            min-width: 242px;
            height: 100%;
            display: flex;
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            line-height: 120%;
            color: #42526E;
            justify-content: space-between;
            align-items: center;
            //border: 1px solid red;

            .add-task-column {
                cursor: pointer;

                .activeOn {
                    display: none;
                }

                &:active {
                    .activeOff {
                        display: none;
                    }

                    .activeOn {
                        display: block;
                    }
                }

            }

        }
    }
}

@media (max-width: 350px) {
    .board-header {
        flex-direction: column;
        height: auto;
        padding: 32px 64px;
        gap: 24px;

        .tools {
            width: 100%;
            justify-content: space-between;

            .search {
                width: 48%;
            }

            .btn-add {
                width: 48%;
            }
        }
    }
}