<!-- board-card.component.html -->
<div class="card-wrap">
  <div class="card" (click)="onCardClick()">
    <div class="label" [style.--myColor]="card.category.categoryProperties[0].color">
      {{ card.category.categoryProperties[0].name }}
    </div>

    <div class="content">
      <h1>{{ card.completed }}</h1>
      <h3 class="title">{{ card.title }}</h3>
      <p class="text">{{ card.description }}</p>
    </div>

    <div class="progress" *ngIf="card.progress > 0">
      <div class="bar">
        <div class="fill" [style.width.%]="card.priority"></div>
      </div>
      <span class="subtasks">{{ card.subTasks }}</span>
    </div>

    <div class="footer">
      <div class="avatars">
        <div class="avatar" *ngFor="let avatar of card.assignTo" [style.background]="avatar.color">
          {{  avatar.name.charAt(0) + avatar.surname.charAt(0) }}
        </div>
      </div>
      <div class="prio" [class.prio-low]="card.priority === 'low'" [class.prio-medium]="card.priority === 'medium'"
        [class.prio-high]="card.priority === 'high'"></div>
    </div>
  </div>
</div>