:root {
  --font-family-base: 'Inter', 'Open Sans', 'Poppins', 'Figtree', 'Mulish', 'Patrick Hand',
    system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/InterVariable.woff2') format('woff2-variations'),
    url('/assets/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf')
      format('truetype-variations'),
    url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/figtree/Figtree-VariableFont_wght.ttf') format('truetype-variations'),
    url('/assets/fonts/figtree/Figtree-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('/assets/fonts/mulish/Mulish-VariableFont_wght.ttf') format('truetype-variations'),
    url('/assets/fonts/mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Patrick Hand';
  src: url('/assets/fonts/patrick-hand/PatrickHand-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

// TODO: get other font-relevant properties
