// TODO: replace allover Application, remove duplicates, then reuse
:root {
  // #region figmaColours
  // --bg
  --gray-300: #f6f7f8;

  // --ink-muted
  --teal-dark: #2a3647;

  // --muted
  --gray-lighter: #cdcdcd;

  // --blue
  --cyan-medium: #29abe2;

  --blue-dark: #0038ff;
  --blue-light: #00bee8;
  --blue-navy: #091931;
  --blue-medium: #4589ff;
  --cyan-light: #1fd7c1;

  --purple-dark: #462f8a;
  --purple-medium: #6e52ff;
  --purple-bright: #9327ff;
  --purple-pink: #fc71ff;
  --green-bright: #7ae229;
  --red-bright: #ff0000;
  --red-medium: #ff4646;
  --red-light: #ff3d00;
  --orange-bright: #ff7a00;
  --orange-medium: #ffa800;
  --yellow-orange: #ffbb2b;
  --yellow-bright: #ffc700;
  --red-alert: #e60026;
  --pink-light: #ff8190;
  --gray-dark: #124658;
  --gray-medium-dark: #2a3647;
  --gray-medium: #42526e;
  --gray-light: #a8a8a8;

  --gray-silver: #d1d1d1;
  --gray-fog: #d9d9d9;
  --gray-bg: #e7e7e7;
  --gray-100: #f4f4f4;
  --gray-200: #f5f5f5;

  --blue-accent: #007cee;

  // #endregion figmaColours
}
