<nav class="bottom-nav" aria-label="Primary" *ngIf="showAppMenu">
  <a routerLink="/summary" routerLinkActive="item--active" class="item">
    <img src="assets/img/shared/bottom-nav/summary.svg" alt="" />
    <span>Summary</span>
  </a>
  <a routerLink="/add-task" routerLinkActive="item--active" class="item">
    <img src="assets/img/shared/bottom-nav/add_task.svg" alt="" />
    <span>Add Task</span>
  </a>
  <a routerLink="/board" routerLinkActive="item--active" class="item">
    <img src="assets/img/shared/bottom-nav/board.svg" alt="" />
    <span>Board</span>
  </a>
  <a routerLink="/contacts" routerLinkActive="item--active" class="item">
    <img src="assets/img/shared/bottom-nav/contacts.svg" alt="" />
    <span>Contacts</span>
  </a>
</nav>