<main class="signup-page">
  <div class="signup-frame">
    <header class="signup-header">
      <div class="logo-container">
        <img src="assets/img/login/signup/JoinDark.png" alt="Join Logo" class="logo-img" />
      </div>
    </header>

    <section class="signup-card">
      <div class="signup-card-header"></div>

      <div class="signup-title-row">
        <button type="button" class="back-button" (click)="goBack()">
          <img src="assets/img/login/signup/arrow-left.png" alt="Back" class="back-icon" />
        </button>
        <h1 class="signup-title">Sign Up</h1>
      </div>

      <div class="signup-title-underline"></div>

      <form class="signup-form" (ngSubmit)="onSubmit()">
        <div class="input-group mya-input-group">
          <input
            type="text"
            name="name"
            [(ngModel)]="signUpData.name"
            placeholder="Name"
            required
            class="signup-input mya-input-with-icon"
          />
          <img src="assets/img/login/mobil/personm.png" class="signup-input-icon" />
          <p class="error-text" *ngIf="signUpErrors.name">
            {{ signUpErrors.name }}
          </p>
        </div>

        <div class="input-group mya-input-group">
          <input
            type="text"
            name="surname"
            [(ngModel)]="signUpData.surname"
            placeholder="Surname"
            required
            class="signup-input mya-input-with-icon"
          />
          <img src="assets/img/login/mobil/personm.png" class="signup-input-icon" />
          <p class="error-text" *ngIf="signUpErrors.surname">
            {{ signUpErrors.surname }}
          </p>
        </div>

        <div class="input-group mya-input-group">
          <input
            type="email"
            name="email"
            [(ngModel)]="signUpData.email"
            placeholder="Email"
            required
            class="signup-input mya-input-with-icon"
          />
          <img src="assets/img/login/mobil/mailm.png" class="signup-input-icon" />
          <p class="error-text" *ngIf="signUpErrors.email">
            {{ signUpErrors.email }}
          </p>
        </div>

        <div class="input-group mya-input-group">
          <input
            type="password"
            name="password"
            [(ngModel)]="signUpData.password"
            placeholder="Password"
            required
            class="signup-input mya-input-with-icon"
          />
          <img src="assets/img/login/mobil/lockm.png" class="signup-input-icon" />
          <p class="error-text" *ngIf="signUpErrors.password">
            {{ signUpErrors.password }}
          </p>
        </div>

        <div class="input-group mya-input-group">
          <input
            type="password"
            name="confirmPassword"
            [(ngModel)]="signUpData.confirmPassword"
            placeholder="Confrim Password"
            required
            class="signup-input mya-input-with-icon"
          />
          <img src="assets/img/login/mobil/lockm.png" class="signup-input-icon" />
          <p class="error-text" *ngIf="signUpErrors.confirmPassword">
            {{ signUpErrors.confirmPassword }}
          </p>
        </div>

        <label class="privacy-row">
          <input type="checkbox" name="acceptPrivacy" [(ngModel)]="signUpData.acceptPrivacy" />
          <span>
            I accept the <a routerLink="/privacy-policy" class="privacy-link">Privacy Policy</a>
          </span>
        </label>

        <button type="submit" class="signup-btn">Sign up</button>
      </form>
    </section>
    <footer class="login-footer">
      <button type="button" class="login-footer-link" routerLink="/privacy-policy">
        Privacy Policy
      </button>
      <button type="button" class="login-footer-link" routerLink="/legal-notice">
        Legal Notice
      </button>
    </footer>
  </div>
</main>
