// board.component.scss
@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/themes' as *;

.board-page {
  width: 1200px;
  position: relative;

  .board-content {
    width: 1440px;
    height: 100dvh;
    padding-left: 232px;
    padding-top: 96px;

    .board-head {
      height: 232px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 64px;

      h1 {
        font-size: 61px;
        font-weight: 700;
        margin: 0;
      }

      .tools {
        display: flex;
        align-items: center;
        gap: 32px;

        .search {
          background-color: white;
          display: flex;
          align-items: center;
          width: 312px;
          height: 48px;
          border: 1px solid var(--gray-light);
          border-radius: 10px;
          padding: 8px 16px;

          input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 20px;
            color: var(--gray-medium);
            border-right: 1px solid var(--gray-light);

            &::placeholder {
              color: var(--gray-silver);
            }
          }

          .search-btn {
            margin-left: 16px;
            width: 32px;
            height: 32px;
            background: transparent;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

            &:hover {
              background-color: var(--gray-fog);
              border-radius: 16px;
            }
          }
        }

        .btn-add {
          width: 160px;
          height: 48px;
          padding: 8px 16px;
          font-family: 'Inter';
          font-size: 21px;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--teal-dark);
          color: white;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease;

          img {
            background-color: transparent;
            width: 24px;
            height: 24px;
          }

          &:hover {
            background-color: var(--cyan-medium);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .col-head-wrap {
      position: absolute;
      width: 100%;
      top: 300px;
      display: flex;
      padding: 0 60px;
      gap: 32px;

      .column-header {
        height: 24px;
        width: 244px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font: 700 20px/120% Inter, sans-serif;
          color: var(--gray-medium);
          margin: 0;
        }

        button {
          width: 24px;
          height: 24px;
          padding: 0;
          border: none;
          cursor: pointer;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: filter 0.15s ease;

          img {
            width: 24px;
            height: 24px;
            display: block;
          }

          &:hover {
            filter: invert(73%) sepia(40%) saturate(5348%) hue-rotate(166deg) brightness(92%)
              contrast(91%);
          }
        }
      }
    }

    .board-columns {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      position: relative;
      gap: 24px;
      padding: 0;
      top: 10px;

      .col-wrap {
        left: 0;
        padding: 0 60px;
        width: 1192px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 32px;

        .column {
          position: relative;
          width: 244px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .no-task {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            gap: 10px;
            padding: 1px 1px;
            width: 240px;
            height: 46px;
            background: var(--gray-bg);
            border: 2px dashed var(--gray-silver);
            border-radius: 10px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
            color: var(--gray-light);
            font-size: 16px;
            font-family: 'Inter', sans-serif;
          }
        }
      }
    }
  }
}
