<div class="board">
    <app-board-header></app-board-header>
</div>

<div class="task-table">
<div cdkDropListGroup class="collumn"> @for (item of getTaslCollumnOne(); track item) {<div  class="cell"><app-board-card [card]=item></app-board-card></div>} </div>
<div cdkDropListGroup class="collumn"> @for (item of getTaslCollumnTwo(); track item) {<div  class="cell"><app-board-card [card]=item></app-board-card></div>} </div>
<div cdkDropListGroup class="collumn"> @for (item of getTaslCollumnThree(); track item) {<div class="cell"><app-board-card [card]=item></app-board-card></div>} </div>
<div cdkDropListGroup class="collumn"> @for (item of getTaslCollumnFour(); track item) {<div  class="cell"><app-board-card [card]=item></app-board-card></div>} </div>

    
</div>      