* {
    font-family: 'Inter', sans-serif;
}

.board {
    padding-left: 232px;
    padding-top: 96px;
}

.task-table {
    // border: 1px solid blue;
    max-width: calc(1440px);
    width: calc(100% - 232px);
    height: calc(100dvh - 100px - 232px);
    flex: 1;
    margin-left: 232px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 64px;
    gap: 16px;
}


.collumn {
    border: 1px solid orange;    
    max-width: 244px;
    min-height: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-radius: 10px;

}

.cell {
    //border: 1px solid purple;
    border-radius: 10px;
    min-height: 48px;
    width: 100%;
    cursor: pointer;
    display:flex;
    justify-content: center;    
    align-items: center;

}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}






















@media (max-width: 1350px) {
    .board {
        padding-left: 0px;
        padding-top: 80px;
    }

    .task-table {
        margin-left: 0px;
        width: calc(100%);
        height: calc(100dvh - 100px - 232px - 75px);
    }
}