@use '../../styles/fonts' as *;
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/themes' as *;

.board-page {
  width: 100dvw;
  overflow-y: auto;
  position: relative;

  .board-content {
    padding-left: 232px;
    padding-top: 96px;

    .board-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 64px;

      h1 {
        font-size: 61px;
        font-weight: 700;
      }

      .tools {
        display: flex;
        align-items: center;
        gap: 32px;

        .search {
          background-color: white;
          display: flex;
          align-items: center;
          width: 312px;
          height: 48px;
          border: 1px solid var(--gray-light);
          border-radius: 10px;
          padding: 8px 16px;
          input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 20px;
            color: var(--gray-medium);
            border-right: 1px solid var(--gray-light);
          }
          input::placeholder {
            color: var(--gray-silver);
          }
          .search-btn {
            margin-left: 16px;
            width: 32px;
            height: 32px;
            background: transparent;
            border-radius: 4px;
            border: none;
            cursor: pointer;
          }
          .search-btn:hover {
            background-color: var(--gray-fog);
            border-radius: 16px;
          }
        }
        .btn-add {
          width: 160px;
          height: 48px;
          padding: 8px 16px;
          font-family: 'Inter';
          font-size: 21px;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: var(--teal-dark);
          color: white;
          border-radius: 10px;
          cursor: pointer;
          img {
            background-color: transparent;
          }
        }
        .btn-add:hover {
          background-color: var(--cyan-medium);
          border-style: none;
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .col-head-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 60px;
      gap: 24px;
      .column-header {
        width: 1440px;

        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font: 700 20px/120% Inter, sans-serif;
          color: var(--gray-medium);
          font-size: 20px;
        }
        button {
          width: 24px;
          height: 24px;
          padding: 0;
          border: none;
          cursor: pointer;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 24px;
            height: 24px;
            display: block;
            transition: filter 0.15s ease;
          }
        }
        button:hover {
          filter: invert(73%) sepia(40%) saturate(5348%) hue-rotate(166deg) brightness(92%)
            contrast(91%);
        }
      }
    }
  }
  .board-columns {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    position: relative;
    gap: 24px;
    padding: 0;
    top: 10px;
    .no-task {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      gap: 10px;
      width: 252px;
      height: 48px;
      background: var(--gray-bg);
      border: 1px dashed var(--gray-silver);
      border-radius: 10px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
      color: var(--gray-light);
      font-size: 16px;
    }
    .columns-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: space-between;
      gap: 32px;
      .column {
        position: relative;
        width: 244px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
