<aside class="figma-sidenav">
  <div class="logo">
    <img src="assets/img/shared/sidenav/logo_join.svg" alt="Join Logo" class="logo-img" />
  </div>

  <nav class="menu">
    <a routerLink="/summary" routerLinkActive="active" class="item">
      <img src="assets/img/shared/sidenav/summary.svg" alt="Summary icon" class="icon" />
      <span class="label">Summary</span>
    </a>

    <a routerLink="/add-task" routerLinkActive="active" class="item">
      <img src="assets/img/shared/sidenav/add_task.svg" alt="Add Task icon" class="icon" />
      <span class="label">Add Task</span>
    </a>

    <a routerLink="/board" routerLinkActive="active" class="item">
      <img src="assets/img/shared/sidenav/board.svg" alt="Board icon" class="icon" />
      <span class="label">Board</span>
    </a>

    <a routerLink="/contacts" routerLinkActive="active" class="item">
      <img src="assets/img/shared/sidenav/contacts.svg" alt="Contacts icon" class="icon" />
      <span class="label">Contacts</span>
    </a>
  </nav>

  <div class="legal">
    <a routerLink="/privacy-policy" class="link">Privacy Policy</a>
    <a routerLink="/legal-notice" class="link">Legal notice</a>
  </div>
</aside>
