.tasktest {


    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    margin-top: 100px;
    margin-bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 800px;
    background-color: #ffffff;

    p {
        font-size: 16px;
        color: #000000;
        margin: 5px 0;
        font-weight: bold;
    }

    .taskOperation {
        display: flex;
        flex-direction: row;
        width: 100%;


        .inputTask {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 20px;
            box-sizing: border-box;


            .inputField {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 10px 0;

                input,
                select {
                    flex: 1;
                    margin-right: 10px;
                }

                button {
                    width: 100px;
                    padding: 5px;
                    font-size: 14px;
                    background-color: #007bff;
                    color: #ffffff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:disabled {
                        background-color: #cccccc;
                        cursor: not-allowed;
                    }

                    &:hover:enabled {
                        background-color: #0056b3;
                        transform: translateY(-1px);
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }

}