<div class="add-task-page" (click)="closeAssignDropdown($event)">
  <main class="content">
    <form class="inputTask" (ngSubmit)="addTask(task)">
      <div class="content-top">
        <h1 class="page-title">Add Task</h1>
        <div class="input-content">

          <div class="col left-col">
            <div class="field">
              <label class="label">Title*</label>
              <div class="input">
                <input type="text" placeholder="Enter a title" />
              </div>
              <div class="hint hint--error hide-on-empty">*This field is required</div>
            </div>

            <div class="field">
              <label class="label">Description</label>
              <div class="textarea">
                <textarea placeholder="Enter a Description"></textarea>
                <span class="dots"></span>
              </div>
              <div class="hint hide-on-empty"></div>
            </div>

            <div class="field">
              <label class="label">Due date*</label>
              <div class="input input--with-icon">
                <input type="text" placeholder="dd/mm/yyyy" />
                <span class="calendar"></span>
              </div>
              <div class="hint hint--error hide-on-empty">*This field is required</div>
            </div>
          </div>

          <div class="divider-vert"></div>

          <div class="col right-col">
            <div class="field-priority">
              <label class="label">Priority</label>
              <div class="priority-buttons">
                <button type="button" class="priority-btn urgent" [class.selected]='whichPriority("urgent")'
                  (click)="setPriority('urgent')">
                  <span>Urgent</span>
                  <img [class.dNone]='whichPriority("urgent")' src="assets/img/board/board-card/prio-urgent.svg" alt="">
                  <img [class.dNone]='!whichPriority("urgent")' src="assets/img/board/board-card/prio-urgent-white.svg"
                    alt="">
                </button>
                <button type="button" class="priority-btn medium" [class.selected]='whichPriority("medium")'
                  (click)="setPriority('medium')">
                  <span>Medium</span>
                  <img [class.dNone]='whichPriority("medium")' src="assets/img/board/board-card/prio-medium.svg" alt="">
                  <img [class.dNone]='!whichPriority("medium")' src="assets/img/board/board-card/prio-medium-white.svg"
                    alt="">
                </button>
                <button type="button" class="priority-btn low" [class.selected]='whichPriority("low")'
                  (click)="setPriority('low')">
                  <span>Low</span>
                  <img [class.dNone]='whichPriority("low")' src="assets/img/board/board-card/prio-low.svg" alt="">
                  <img [class.dNone]='!whichPriority("low")' src="assets/img/board/board-card/prio-low-white.svg"
                    alt="">
                </button>
              </div>
            </div>

            <div class="field">
              <label class="label">Assigned to</label>
              <button type="button" class="select-assign-to">
                <div class="assign-to-dropdown">
                  <div class="dropdown-header" (click)="toggleAssignDropdown('currentTask')">
                    <span class="selected-users">
                      <span class="filterAssignedUsers">
                        <input name="assigned-to-input" [(ngModel)]="this.filterAssignedUsers"
                          placeholder="Select contacts to assign" required>
                        <span class="dropdown-arrow-icons">
                          <img [class.dNone]="showAssignDropdown.currentTask"
                            src="assets/img/board/add-card/assigned-to-arrow-drop-down-open.svg"
                            alt="Assign to list arrow open">
                          <img [class.dNone]="!showAssignDropdown.currentTask"
                            src="assets/img/board/add-card/assigned-to-arrow-drop-down-close.svg"
                            alt="Assign to list arrow close">
                        </span>
                      </span>
                    </span>
                  </div>
                  @if (showAssignDropdown.currentTask) {
                  <div class="assign-to-container">
                    @for (user of this.getUserForTask(); track user) {
                    <label class="user-checkbox">
                      <span class="user-checkbox-label">
                        <div class="avatar" [style.background]="user.color">{{ user.name.charAt(0) +
                          user.surname.charAt(0) }}</div>
                        {{ user.name }} {{ user.surname }}
                      </span>
                      <input type="checkbox" [checked]="isUserAssigned(user, currentTask.assignTo)"
                        (change)="toggleUserAssignment(user, currentTask.assignTo)">

                    </label>
                    }
                  </div>
                  }
                </div>
              </button>
              <div class="avatars">
                <div class="avatar" *ngFor="let avatar of currentTask.assignTo" [style.background]="avatar.color">
                  {{ avatar.name.charAt(0) + avatar.surname.charAt(0) }}
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Category*</label>

              <div class="category">
                <span class="category-dropdown" (click)="toggleCategoryDropdown('currentTask')">
                  <span class="category-placeholder" [class.dataIsSet]="this.dataIsSet()">{{ currentCategory }}</span>
                  <span class="dropdown-arrow-icons">
                    <img [class.dNone]="showCategoryDropdown.currentTask"
                      src="assets/img/board/add-card/assigned-to-arrow-drop-down-open.svg"
                      alt="Assign to list arrow open">
                    <img [class.dNone]="!showCategoryDropdown.currentTask"
                      src="assets/img/board/add-card/assigned-to-arrow-drop-down-close.svg"
                      alt="Assign to list arrow close">
                  </span>
                </span>
                <span class="category-container" [class.dNone]="!showCategoryDropdown.currentTask">
                  @for (category of this.categoryOptions.categoryProperties; track category) {
                  <div class="category-input" (click)="setCategory(category.name)">{{ category.name }}</div>
                  }
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Subtasks</label>
              <div class="input">
                <input type="text" placeholder="Add new subtask" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button type="button" (click)="onClose()" class="btn btn--secondary desktop-only">Cancel</button>
        <button type="submit" (click)="onClose()" class="btn btn--primary">
          <span>Create Task</span>
          <i class="check"></i>
        </button>
      </div>
    </form>

  </main>
</div>






































<!-- <div class="add-card-container">
  <div class="add-card-header">
    <h2>Neue Aufgabe hinzufügen</h2>
    <button class="close-btn" (click)="onClose()">×</button>
  </div>
  
  <div class="add-card-content">
    <p class="selected-column-info">
      Spalte ausgewählt: <strong>{{ getColumnDisplayName(selectedColumn()) }}</strong>
    </p>
    
    <div class="form-group">
      <label for="taskTitle">Titel:</label>
      <input type="text" id="taskTitle" placeholder="Aufgabentitel eingeben..." />
    </div>
    
    <div class="form-group">
      <label for="taskDescription">Beschreibung:</label>
      <textarea id="taskDescription" placeholder="Aufgabenbeschreibung eingeben..."></textarea>
    </div>
    
    <div class="form-actions">
      <button class="btn-cancel" (click)="onClose()">Abbrechen</button>
      <button class="btn-save">Speichern</button>
    </div>
  </div>
</div>
 -->